/*Portfolio CSS file*/

/*Main heading*/
/* #region */
.heading {
	text-align: center;
	padding-top: 2.5rem;
}

.heading h1 {
	font-size: 3rem;
	background: var(--heading-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: fadeInDown 1s ease-out;
	transition: transform 0.2s ease;
}

.heading h1:hover {
	transform: scale(1.01);
}

.heading h3 {
	background: var(--heading-description-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: 400;
	letter-spacing: 0.1rem;
	animation: fadeInUp 1s ease-out 0.3s backwards;
	transition: transform 0.5s ease;
}

.heading h3:hover {
	transform: scale(1.01);
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
/* #endregion */

/*General classes*/
/* #region */
.site-wrapper {
	width: 100%;
	min-height: 100vh;
}

section {
	margin-top: var(--section-spacing);
	padding: 0 2rem;
}

.section-title {
	font-size: 2rem;
	border-bottom: 2px solid var(--title-border-color);
	padding-bottom: 1rem;
	background: var(--title-font-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	transition: border-color 0.3s ease, transform 0.3s ease;
}

.section-title:hover {
	border-color: var(--title-border-color-hover);
	transform: scale(1.01);
}

.project-groups,
.skill-groups,
.experience-groups,
.contact-groups {
	display: grid;
	gap: 3rem;
	justify-content: center;
}

.project-category,
.skill-category,
.experience-category {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}

.project-category h2,
.skill-category h2,
.experience-category h2 {
	border-bottom: 2px solid var(--title-border-color);
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	transition: border-color 0.3s ease, transform 0.3s ease;
}

.project-category h2:hover,
.skill-category h2:hover,
.experience-category h2:hover {
	border-color: var(--title-border-color-hover);
	transform: scale(1.01);
}

.projects h3,
.skills h3,
.experience h3 {
	color: var(--description-color);
	font-weight: 400;
}

footer {
	transition: border-color 0.3s ease, background 0.5s ease, color 0.5s ease;
}
/* #endregion */

/*About section*/
/* #region */
.about {
	max-width: 50rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	text-align: center;
}

.about p {
	max-width: 50rem;
	margin: 0 auto;
}
/* #endregion */

/*Project section*/
/* #region */
.projects {
	text-align: center;
}

.project-groups {
	grid-template-columns: repeat(auto-fit, minmax(17rem, 18rem));
	margin-top: 1rem;
}

.project-category {
	height: 20rem;
	justify-content: space-between;
}

.project-category p {
	flex-grow: 1;
}

.project-category .link-btn {
	margin-top: auto;
}

.project-category.nebula {
    box-shadow: 0px 0px 4px rgba(102, 0, 255, 0.4), 
                0px 0px 6px rgba(0, 71, 171, 0.3);
}

.project-category.soundscape {
    box-shadow: 0px 0px 4px rgba(255, 215, 0, 0.4), 
                0px 0px 6px rgba(255, 255, 255, 0.2);
}

.project-category.pathfinder {
    box-shadow: 0px 0px 4px rgba(0, 255, 255, 0.4), 
                0px 0px 6px rgba(34, 139, 34, 0.3);
}

.project-category.nebula h2 {
	background: var(--nebula-project-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.project-category.soundscape h2 {
	background: var(--soundscape-project-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.project-category.pathfinder h2 {
	background: var(--pathfinder-project-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.project-category h2.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.project-category h2.icon::before {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.project-category h2.icon:hover::before {
	transform: scale(1.1);
}
/* #endregion */

/*Skills section*/
/* #region */
.skills {
	text-align: center;
}

.skill-groups {
	grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
	margin-top: 1.5rem;
}

.skill-category {
	height: 16rem;
}

.skill-category.frontend {
	box-shadow: 0px 0px 8px rgba(15, 67, 149, 0.3);
}

.skill-category.design {
	box-shadow: 0px 0px 8px rgba(15, 149, 66, 0.3);
}

.skill-category.dev {
	box-shadow: 0px 0px 8px rgba(149, 15, 15, 0.3);
}

.skill-category.frontend h2 {
	background: var(--frontend-skill-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.skill-category.design h2 {
	background: var(--design-skill-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.skill-category.dev h2 {
	background: var(--dev-skill-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.skill-category h2.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.skill-category h2.icon::before {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.skill-category h2.icon:hover::before {
	transform: scale(1.1);
}

.skill-category ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.skill-category li {
	margin: 0.25rem 0;
	transition: color 0.2s, transform 0.2s;
}

.skill-category li:hover { 
	color: var(--skill-list-color); 
	transform: translateY(-2px) scale(1.01);
}

.skill-category li.icon {
	padding-left: 2rem;
	display: flex;
	align-items: center;
	position: relative;
}

.skill-category li.icon::before {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
}

.skill-category li.icon:hover::before {
	transform: scale(1.1);
}
/* #endregion */

/*Experience section*/
/* #region */
.experience {
	text-align: center;
	align-items: center;
}

.experience-groups {
	grid-template-columns: repeat(auto-fit, minmax(22rem, 23rem));
	margin-top: 1rem;
}

.experience-category {
	height: 18rem;
}

.experience-category ol {
	list-style: circle;
	padding: 0.5rem;
	margin: 0;
}

.experience-category li {
	margin: 0.5rem 0.5rem;
	transition: transform 0.2s ease;
}

.experience-category li:hover {
	transform: translateY(-2px) scale(1.01);
}
/* #endregion */

/*Contact section*/
/* #region */
.contact {
	text-align: center;
	padding: 1rem;
	box-sizing: border-box;
}

.contact-groups {
	grid-template-columns: repeat(auto-fit, minmax(20rem, 36rem));
	gap: 40px;
	margin-top: 30px;
}

.contact-links {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

.contact-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	min-height: 2.5rem;
	padding: 0.75rem 0.8rem 0.75rem 2.5rem;
	text-align: center;
	font-weight: 600;
	font-size: 1.25rem;
	text-decoration: none;
	box-sizing: border-box;
}

.contact-btn::before {
	content: "";
	position: absolute;
	left: 14px;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.2s ease;
}

body:not(.lightmode) .contact-btn::before {
	filter: invert(1) brightness(1);
}

.lightmode .contact-btn::before {
	filter: none;
}

.contact-btn:hover::before {
	transform: scale(1.1);
}

.contact-btn[href*="mailto"]::before {
	background-image: url("assets/icons/gmail.svg");
}

.contact-btn[href*="github"]::before {
	background-image: url("assets/icons/github.svg");
}

.contact-btn[href*="linkedin"]::before {
	background-image: url("assets/icons/linkedin.png");
}

.contact-btn[href*="x.com"]::before {
	background-image: url("assets/icons/x.svg");
}

.contact-info {
	text-align: center;
	align-self: center;
	box-sizing: border-box;
	padding: 0.3rem 0.5rem;
}

.contact-info p {
	margin: 0 auto;
} 
/* #endregion */